Source: authorize
Section: python
Priority: extra
Maintainer: Casey Crites <casey@simplegeo.com>
Build-Depends: cdbs, debhelper (>= 7), python, python-support, python-setuptools, python-coverage, python-lxml (>= 2.0.0)
Standards-Version: 3.8.4
Homepage: http://bitbucket.org/adroll/authorize/

Package: python-authorize
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Authorize is a client side library to use CIM and 
 ARB APIs exposed by Authorize.net payment services, it also 
 provides two ways to use the API, a synchronous one that 
 uses python's own httplib and an asynchronous one that 
 uses Twisted Web instead.
